{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
  var userdict = {};
   var userColor = "#000000".replace(/0/g,function(){return (~~(Math.random()*16)).toString(16);});
    var userNumber = Math.random(); 

  
var context = canvas.getContext('2d');
var url = window.location.href;
var socket = new WebSocket('wss://p3-websockets-kaavya99-kaavyasinghal48900.codeanyapp.com/ws/draw');                    
var secondpath = new paper.Path();
var stringversion;
tool.onMouseMove = function (event) {
  var myX = event.point.x;
  var myY = event.point.y;
  var pointevents = {x:event.point.x, y:event.point.y, color: userColor, user: userNumber};
  stringversion = JSON.stringify(pointevents);
  socket.send(stringversion);
}

var smallPath = new paper.Path();
socket.onmessage = function(e) {

var myUrl = window.location.href;
if (myUrl.indexOf("large") != -1)
{
  var jsonmessage = JSON.parse(e.data);
  var xcoord = jsonmessage.x;
  var ycoord = jsonmessage.y;
  var mycolor = jsonmessage.color;
  var myuser = jsonmessage.user;
  if (!(myuser in userdict)) {
    newpath = new paper.Path();
    userdict[myuser] = newpath;
  }
  userdict[myuser].strokeColor = mycolor;
  userdict[myuser].strokeWidth = '5';
  userdict[myuser].add(new paper.Point(xcoord, ycoord));
  
}
else {
  var jsonmessage = JSON.parse(e.data);
  
  var myuser = jsonmessage.user;
  if (myuser == userNumber) {
  var xcoord = jsonmessage.x;
  var ycoord = jsonmessage.y;
  var mycolor = jsonmessage.color;
  smallPath.strokeColor = mycolor;
  smallPath.strokeWidth = '5';
  smallPath.add(new paper.Point(xcoord, ycoord));
  console.log("small");
  }
}
}
  
  // notify console if socket closes unexpectedly
  socket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
  }

$(document).ready(() => {
window.addEventListener('devicemotion', (event) => {
  if ((Math.abs(event.acceleration.x) > 10) || (Math.abs(event.acceleration.y) > 10) || (Math.abs(event.acceleration.z) > 10)){
    paper.project.clear();
  }
});
window.addEventListener('deviceorientation', (event) => {
  if (Math.abs(gamma) > 15) {
    userColor = "#000000".replace(/0/g,function(){return (~~(Math.random()*16)).toString(16);});
  }
  
  
});
});
                       
                  


  </script>

  <!-- This index.html is used for Mobile Gesture section ONLY. -->
  <!-- PLEASE REVERT BACK TO THE ORIGINAL INDEX.HTML FROM STARTER CODE! -->

</html>
